#slick{
    width: 50%;
    margin: 0 auto;
}
#slick img{
    width: 300px;
    height: 300px;
}

* {
    margin: 0;
    padding: 0;
}
.meniLista {
    display: flex;
    flex-direction: row;
    height: 150px;
    background: lavenderblush;
    font-family: sans-serif;   
}

.meniLista{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 5;
    justify-content: space-around;
    align-items: center;
}

.meniLista li {
    margin: 0;
    height: 4em;
    display: flex;
    align-items: center;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: grey;
}

.logoPocetna {
    /* margin: auto 0; */
    height: 150px;
    width: 150px;
}

.meni ul li a:hover {
    color: red;
}

h3 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 70px;
    font-size: 1.5rem;
}

.uslugice {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.uslugice img{
    width: 250px;
    height: 250px;
}

.uslugice img:hover{
    transform: scale(1.5,1.5);
    transition-duration: 2s;
}




footer {
    background-color: #f2f2f2;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.levo{
    width: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.levo img{
    justify-self: center;
    height: 100px;
    width: 100px;
}
.sredina{
    text-align: center;
    width: 30%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}
.sredina p{
    width: 100%;
}
.drustveneMreze{
    width:100%;
}

.drustveneMreze #fb {
    opacity: 50%;
}

.drustveneMreze #insta {
    opacity: 50%;
}

.drustveneMreze #fb:hover {
    opacity: 100%;
}

#insta:hover {
    opacity: 100%;
}
.sredina img{
    width: 50px;
    height: 50px;
}
.desno{
text-align: center;
    align-content: center;

    width: 30%;
    display: flex;
    flex-wrap: wrap;
}
.desno p{
    width: 100%;
}

@media all and (max-width: 650px) {
    .meniLista {
        flex-direction: column;
        text-align: center;
        height: 300px;
    }
    .meniLista li{
        font-size: 1.5rem;
    }
    .logoPocetna img{
        height: 100px;
        width: 100px;
    }
}
